<!DOCTYPE html>
<html lang="en">
<head>
    <title>Калькулятор Тома</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>


<div class="container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form calculate-form">
            {% csrf_token %}
            <span class="contact100-form-title">
					Розничный калькулятор Тома
				</span>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Введите целое число > 0">
                <span class="label-input100">Количество товара *</span>
                <input class="input100" type="number" name="count" placeholder="Введите число">
            </div>

            <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Введите число > 0">
                <span class="label-input100">Цена товара (USD) *</span>
                <input class="input100" type="number" name="price" placeholder="Введите число">
            </div>

            <div class="wrap-input100 input100-select bg1">
                <span class="label-input100">Код штата</span>
                <div>
                    <select class="js-select2 required" name="state">
                        <option value="0">Выберите код</option>
                        {% for state in states_tax %}
                            <option value="{{ state.id }}">{{ state.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="dropDownSelect2"></div>
                </div>
            </div>

            <div class="w-full dis-none js-show-service">

                <div class="wrap-contact100-form-range">
                    <span class="label-input100">Налоговая ставка *</span>

                    <div class="contact100-form-range-value">
                        3 %
                    </div>

                </div>
            </div>

            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
						<span>
							Рассчитать
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
                </button>
            </div>
        </form>
        <div class="wrap-input100 bg1 " style="margin-top: 50px">
            <span class="label-input100">Итого</span>
            <input class="input100" type="text" name="result" id="cost_result" value="0 $" readonly>

        </div>
        <span style="font-size: 12px">* Выводится с округлением до тысячных 0.000</span>
    </div>

</div>

<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<script>
    var taxs = {};
    {% for state in states_tax %}
        taxs['{{ state.id }}'] = '{{ state.tax }}';
    {% endfor %}
    $(".js-select2").each(function(){
        $(this).select2({
            minimumResultsForSearch: 20,
            dropdownParent: $(this).next('.dropDownSelect2')
        });


        $(".js-select2").each(function(){
            $(this).on('select2:close', function (e){
                if($(this).val() == 0) {
                    $('.js-show-service').slideUp();
                }
                else {
                    $('.contact100-form-range-value')[0].innerText = taxs[$(this).val()] + ' %';
                    $('.js-show-service').slideUp();
                    $('.js-show-service').slideDown();
                }
            });
        });
    })
</script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
